[user]
	name = Zane Duffield
  email = duffieldzane@gmail.com

[init]
	defaultBranch = main

[alias]
  b = branch
  c = checkout
  cp = cherry-pick
  s = status
  reword = commit --amend --only
  dirdiff = difftool --dir-diff
  dirdiffs = dirdiff --staged
  diffs = diff --staged
  difftools = difftool --staged
	dirshow = "!f(){ git dirdiff \"${1-HEAD}~\" \"${1-HEAD}\"; }; f"
  basediff = "! git difftool \"$(git merge-base \"$(git rev-parse --abbrev-ref origin/HEAD)\" HEAD)\""
  rebasebase = "! git rebase --keep-base \"$@\""
	merge-ours = merge -s recursive -Xours
  fpwl = push --force-with-lease
  si-range-diff = -c pager.range-diff='~/dotfiles/git-range-diff-delta-preproc | delta --features=side-range-diff' range-diff

[core]
  autocrlf = false
	longpaths = true
	editor = vim
  pager = delta
  # fsmonitor gives me grief on Linux
	# fsmonitor = true

[advice]
	detachedHead = false

[rebase]
	autosquash = true

[branch]
  autosetuprebase = always

[interactive]
  diffFilter = ~/dotfiles/delta.sh

[delta]
  navigate = true  # use n and N to move between diff sections
  side-by-side = true
  # mangles the output in vscode :(
  #hyperlinks = true
  hyperlinks-file-link-format = "vscode://file/{path}:{line}"

  # copied from the "zebra-dark" theme
  map-styles = \
     bold purple => syntax "#330f29", \
     bold blue => syntax "#271344", \
     bold cyan => syntax "#0d3531", \
     bold yellow => syntax "#222f14"

[blame]
  pager = delta

[merge]
  conflictstyle = diff3
  ff = only

[diff]
  colorMoved = default

[difftool]
  prompt = false

[absorb]
  maxStack=50

[column]
  ui = auto

[branch]
  sort = -committerdate

[include]
  path = ~/.gitconfig.local
