[user]
	name = Zane Duffield
  email = duffieldzane@gmail.com

[init]
	defaultBranch = main

[alias]
  b = branch
  c = checkout
  cp = cherry-pick
  s = status
  dirdiff = difftool --dir-diff
	dirshow = "!f(){ git dirdiff \"${1-HEAD}~\" \"${1-HEAD}\"; }; f"
  basediff = "! git difftool \"$(git merge-base \"$(git rev-parse --abbrev-ref origin/HEAD)\" HEAD)\""
	merge-ours = merge -s recursive -Xours
	fpwl = push --force-with-lease
  yolo = "!f(){ git commit -a -m \"$(curl http://whatthecommit.com/index.txt 2>/dev/null)\" }; f"


[core]
  autocrlf = false
	longpaths = true
	editor = vim
  pager = delta
  # fsmonitor gives me grief on Linux
	# fsmonitor = true

[advice]
	detachedHead = false

[rebase]
	autosquash = true

[branch]
  autosetuprebase = always

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true  # use n and N to move between diff sections
  # side-by-side = true
[merge]
  conflictstyle = diff3
  ff = only

[diff]
  colorMoved = default

[include]
  path = ~/.gitconfig.local
